version: '3.8'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
      - node_modules:/app/node_modules
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: bundle exec passenger start -p 3000 -a 0.0.0.0 --environment development
    stdin_open: true
    tty: true

volumes:
  bundle_cache:
  node_modules:
