<ul>
  <li>
    <%= link_to 'EasyKeep', 'https://easykeep.herokuapp.com', target: '_blank' %>
    <%= image_tag('easykeep-screenshot.png') %>
  </li>
  <li>
    <%= link_to 'Fish Bowl', 'https://fish-bowl.herokuapp.com', target: '_blank' %>
    <%= image_tag('fishbowl-screenshot.png') %>
  </li>
</ul>