.row
  .small-12.medium-12.large-6.columns
    %iframe.badge{src: 'http://ghactivity.com/anthonymidili', frameborder: '0'}

  .small-12.medium-12.large-6.columns
    %iframe.badge{src: 'http://ghactivity.com/frankjmattia', frameborder: '0'}
