.grid-x
  .small-12.cell
    %h1 About Us
    %hr/
    %h3 The Tin Foil Hat Company
    %p
      Contrary to the name, we do not make tin foil hats. We are all about web development.
      We try to make web sites that we hope people will not only need, but love.

    %hr/
    %h3 The Team
    %p
      Co-Owner
      = link_to 'Anthony Midili', anthony_midili_path
      %br/
      Co-Owner
      = link_to 'Frank Mattia', frank_mattia_path
