<div class="row">
  <div class="small-12 columns">
    <h1>ManOnFire WebDesign</h1>
    <p>A place to show who we are and what we have done.</p>

    <h4>Developers</h4>
    <%= render 'developer_badges' %>

    <br>

    <h4>Sites we've made</h4>
    <%= render 'site_badges' %>
  </div>
</div>
