.row
  .small-12.columns
    %br/

    = image_tag 'ManOnFire/ManOnFire_WebDesign.svg'
    %p A place to show who we are and what we have done.

    %h4 Developers
    = render 'developer_badges'

    %br/

    %h4 Sites we've made
    = render 'site_badges'

    %br/

    %h4 What we are working on
    = render 'working_on_badges'
