.row
  .small-12.columns
    %h1 ManOnFire WebDesign
    %p A place to show who we are and what we have done.

    %h4 Developers
    = render 'developer_badges'

    %br/

    %h4 Sites we've made
    = render 'site_badges'
