.row
  .col
    %p= image_tag 'tinfoilhat/WebDesign_LetterHead.svg', class: "svg_image"
    %p A place to show who we are and what we have done.

    = render 'developers/badges'

    = render 'sites/badges'
