.medium-6.cell
  .badged
    .grid-x
      .small-5.cell
        = link_to frank_mattia_path do
          = image_tag 'https://avatars1.githubusercontent.com/u/19900?s=460',
          class: 'developer'

      .small-7.cell
        %h4 Frank Mattia
        %ul.inline-list
          %li
            = mail_to 'frankjmattia@gmail.com', subject: 'The Tin Foil Hat Company' do
              %i.fas.fa-envelope
