.row
  = render 'developers/frank_mattia/badge'

  .medium-6.columns
    %h4 Co-owner / Developer / Technical Support
    %p "Mild mannered misanthrope. Congenial curmudgeon. Mostly complaining about everything."
