.row
  = render 'developers/frank_mattia/badge'

  .col-md-6
    %h4 Co-owner / Developer / Technical Support
    %p "Mild mannered misanthrope. Congenial curmudgeon. Mostly complaining about everything."
