$footer-size: 166px;
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  padding-bottom: $footer-size; /* must be same height as the footer */
  /* add the xy grid container */
  @include xy-grid-container;
  /* use the grid-margin-x by default with all grid-x's */
  .grid-x {
    @extend .grid-margin-x;
  }
}

footer {
  position: relative;
  margin-top: -$footer-size; /* negative value of footer height */
  min-height: $footer-size;

  #style_footer {
    min-height: $footer-size;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    border-color: $medium-gray;
    background: $medium-gray;
    color: $tar;

    a {color: $tar;}
    a:hover {color: $light-tar;}
  }


  .version {
    float: right;
    color: $light-tar;
  }
}
