.badged {
  border: 1px solid $dark-gray;
  margin-bottom: 2em;
}

.black_links {
  a {color: $black;}
  a:hover {color: $tar;}
}

img.developer {
  max-height: 120px;
}

img.site {
  padding: 3px;
}
