.no_bullets {
  list-style-type: none;
}

.pad_sides {
  padding: 0 30px 0 30px;
}

.MOF_logo {
  height: 40px;
  padding-top: 4px !important;
  padding-left: 4px;
}

.pad_bottom {
  padding-bottom: 5px;
}
