.no_bullets {
  list-style-type: none;
}

.pad_sides {
  padding: 0 30px 0 30px;
}

.pad_bottom {
  padding-bottom: 5px;
}

ul.inline-list {
  margin: 0 0 1.0625rem -1.375rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

ul.inline-list > li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 1.375rem;
  height: 30px;
  a, svg, img {
    height: 30px !important;
    width: 30px !important;
  }
  svg {
    color: #e30606;
  }
}

svg, img {
  max-width: 100% !important;
}

.flex-center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
