.no_bullets {
  list-style-type: none;
}

.pad_sides {
  padding: 0 30px 0 30px;
}

.MOF_logo {
  height: 40px;
  padding-top: 4px !important;
  padding-left: 4px;
}

.pad_bottom {
  padding-bottom: 5px;
}

ul.inline-list {
  margin: 0px 0px 1.0625rem -1.375rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

ul.inline-list > li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 1.375rem;
}

.top-bar {
  padding: 1px 8px 1px 8px;

  .top-bar-right a {
    color: white;
    &:hover {
      background-color: black;
    }
  }
}
