@use "color_palette";
$footer-size: 166px;

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  padding-bottom: $footer-size; /* must be same height as the footer */
  @extend .container-xl
}

footer {
  position: relative;
  margin-top: -$footer-size; /* negative value of footer height */
  min-height: $footer-size;

  #style_footer {
    min-height: $footer-size;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    border-color: color_palette.$medium-gray;
    background: color_palette.$medium-gray;
    color: color_palette.$tar;

    a {
      color: color_palette.$tar;
      text-decoration: none;
    }
    a:hover {color: color_palette.$light-tar;}
  }


  .version {
    float: right;
    color: color_palette.$light-tar;
  }
}
