html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {padding-bottom: 166px;} /* must be same height as the footer */

footer {
  position: relative;
  margin-top: -166px; /* negative value of footer height */
  height: 166px;
  clear:both;

  #style_footer {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    border-color: $medium-gray;
    background: $medium-gray;
    color: $tar;

    a {color: $tar;}
    a:hover {color: $light-tar;}
  }


  .version {
    float: right;
    color: $light-tar;
  }
}
