@use "color_palette";

.bg-dark {
    background-color: color_palette.$tar !important;
}

.navbar {
  margin-bottom: 20px;
}

/* Enlarge the menu icon */
.navbar-toggler {
  width: 100px;
  .navbar-toggler-icon {
    width: 40px;
  }
}

.navbar-collapse {
  /* Add submenu background color when toggler icon not shown */
  @include media-breakpoint-down(lg) {
    background-color: color_palette.$light-tar;
  }
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.TFH_logo {
  height: 40px;

  @include media-breakpoint-up(md) {
    height: 60px;
  }
}

.nav-items-right {
  margin-left: auto;
}
