@use "color_palette";

.top-bar, .top-bar ul, .title-bar {
    background-color: color_palette.$tar;
}

.top-bar {
  margin-bottom: 20px;

  /* Modify the top bar color scheme for links */
  .top-bar-right a {
    color: color_palette.$white;
    &:hover {
      background-color: color_palette.$black;
    }
  }

  .top-bar-right ul li a {
    background-color: color_palette.$tar;
  }

  /* This selects the top bars menu dropdown when in small view */
  ul[role=tree] {
  background: color_palette.$light-tar;
}

  .TFH_logo {
    @include breakpoint(small only) {
      height: 40px;
    }
    @include breakpoint(medium) {
      height: 60px;
    }
  }

  /* Enlarge the menu icon */
  .menu-icon {
    width: 80px;
  }
}
