.grid-x
  .small-12.cell
    .pad_bottom
      = link_to 'https://codeclimate.com/github/anthonymidili/Bullhorn/maintainability' do
        = image_tag 'https://api.codeclimate.com/v1/badges/c4dd2bd6c38e8dd1b859/maintainability', alt: 'CodeClimate Badge'
    .badged.black_links
      = link_to 'https://bullhorn.ttfh.co', target: '_blank' do
        .grid-x
          .medium-7.cell
            .pad_sides
              %h2 Bullhorn
              %hr/

              %p
                Shout to the world what's on your mind. Follow other users to see what they are shouting about.
                Just a bunch of people shouting through their bullhorns.
              %p
                A nice place to share your thoughts and socialize with others. You can also share your pictures
                for all to see.

          .medium-5.cell
            .flex-center-middle= image_pack_tag 'screenshots/bullhorn.png', class: 'site_image'
