.grid-x
  .small-12.cell
    .pad_bottom
      = link_to 'https://codeclimate.com/github/anthonymidili/EasyKeep/maintainability' do
        = image_tag 'https://api.codeclimate.com/v1/badges/c5925d653862846a0a22/maintainability', alt: 'CodeClimate Badge'
    .badged.black_links
      = link_to 'https://easykeep.herokuapp.com', target: '_blank' do
        .grid-x
          .medium-7.cell
            .pad_sides
              %h2 EasyKeep
              %hr/

              %p
                This app is geared for small businesses! Manage your accounts on the
                go. Create invoices with the push of a button. Invite customers to view their account history.
              %p
                Ideal for businesses with no overhead and provides a service such as house keeping, interior design,
                lawn care, baby sitting, etc.

          .medium-5.cell
            .flex-center-middle= image_pack_tag 'screenshots/easykeep.png', class: 'site_image'
