.grid-x
  .small-12.cell
    .pad_bottom
      = link_to 'https://codeclimate.com/github/anthonymidili/FishBowl/maintainability' do
        = image_tag 'https://api.codeclimate.com/v1/badges/e43c3d04e7e033395b83/maintainability', alt: 'CodeClimate Badge'
    .badged.black_links
      = link_to 'https://fish-bowl.herokuapp.com', target: '_blank' do
        .grid-x
          .medium-7.cell
            .pad_sides
              %h2 Fish Bowl
              %hr/

              %p
                A great way to keep track of one or more aquariums anywhere you can connect to the web. Keep track of
                water levels, take notes of changes you make to your aquariums, join the fish-bowl-questions forum,
                get tips on how to raise or lower different water levels, see little fun facts about your fish, and
                upload pictures of your different tanks.
              %p
                You can use one of our many default species to show who's in your aquarium or create your own species
                complete with your own picture and information.

          .medium-5.cell
            .flex-center-middle= image_tag 'screenshots/fishbowl.png', class: 'site_image'
