.row
  .small-12.columns
    .pad_bottom
      = link_to 'https://codeclimate.com/github/anthonymidili/IndieRecipes/maintainability' do
        = image_tag 'https://api.codeclimate.com/v1/badges/3fee9cbda0d1fa93f4a9/maintainability', alt: 'CodeClimate Badge'
    .badged.black_links
      = link_to 'https://indierecipes.ttfh.co', target: '_blank' do
        .row
          .medium-7.columns
            .pad_sides
              %h2 Indie Recipes
              %hr/

              %p
                Got a recipe that you'd like to share? What to find recipes made by real people? Then you're
                going to love this site. It's your personal cookbook that you have excess to anytime and anywhere.
              %p
                Not only can you post your own recipes but you can favor other people's recipes to try them out
                for yourself. Once you favor a recipe it gets saved to your Indie Recipes personal cookbook.

          .medium-5.columns
            = image_tag 'screenshots/indie_recipes.png', class: 'site_image'
