%footer
  = image_tag('footer-fire.png', class: 'fire')
  #style_footer
    .row
      .small-7.medium-5.large-4.columns.end
        = link_to root_path do
          = image_tag 'ManOnFire/ManOnFire_WebDesign.svg'

      .small-12.medium-5.large-3.columns
        %ul.inline-list
          %li Anthony Midili
          %li Frank Mattia

    .small-12.columns
      .float-right v-1.2.0
