.top-bar
  .top-bar-title
    %span{data: {hide_for: 'medium', responsive_toggle: 'responsive-menu'}}
      %span.menu-icon{data: {toggle: true}}
    .title-bar-title
      = link_to root_path do
        = image_tag 'TinFoilHat/TinFoilHat_LetterHead_White.svg', class: 'MOF_logo'
  #responsive-menu
    .top-bar-right
      %ul.menu.vertical.medium-horizontal{data: {responsive_menu: 'accordion medium-dropdown'}}
        %li= link_to 'Home', root_path
        %li= link_to 'About', about_path
