%nav{class: 'top-bar', data: {topbar: true}}
  %ul.title-area
    %li.name
      = link_to root_path do
        = image_tag 'ManOnFire/ManOnFire_Header_small_yellow.png', class: 'MOF_logo'
    %li.toggle-topbar.menu-icon
      %a{href: '#'} Menu

  %section.top-bar-section

    -# Right Nav Section
    %ul.right
      %li.active
        = link_to 'Home', root_path

      -#
        %li.has-dropdown
          %a{href: '#'} Right Button Dropdown
          %ul.dropdown
            %li
              %a{href: '#'} First Link In Dropdown


    -# Left Nav Section
      %ul.left
        %li
          %a{href: '#'} Left Nav Button
