.top-bar
  .top-bar-left
    .title-bar
      .title-bar-title
        = link_to root_path do
          = image_pack_tag 'tinfoilhat/LetterHead_White.svg', class: 'TFH_logo'
      .title-bar-right
        %button{data: {hide_for: 'medium', responsive_toggle: 'responsive-menu'}}
          .menu-icon{data: {toggle: true}}
  .top-bar-right
    #responsive-menu
      %ul.menu.vertical.medium-horizontal{data: {responsive_menu: 'accordion medium-dropdown'}}
        %li= link_to 'Home', root_path
        %li= link_to 'About', about_path
