%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    = link_to root_path, class: "navbar-brand" do
      = image_tag 'tinfoilhat/LetterHead_White.svg', class: 'TFH_logo'
    %button.navbar-toggler{aria: {
    controls: "navbarNavDropdown",
    expanded: "false", label: "Toggle navigation" },
    data: { bs_target: "#navbarNavDropdown",
    bs_toggle: "collapse" },
    type: "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav.nav-items-right
        %li.nav-item
          = link_to 'Home', root_path, class: "nav-link"
        %li.nav-item
          = link_to 'About', about_path, class: "nav-link"
